.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.close-button {
    position: absolute;
    z-index: 1;

    top: 0.2em;
    right: 0.2em;
    background: none;
    padding: 0;
    margin: 0;
}

.close-button > vaadin-icon {
    padding: 0;
}