**/target/
**/*.iml
.idea/
.classpath
.project
.settings
.env
node_modules/
frontend/generated/
src/main/bundles
src/main/frontend/generated

/webpack.config.js
/webpack.generated.js
vite.generated.ts