[theme~="dark"] {
    --lumo-base-color: #163535;
    --lumo-primary-color: #7ea094;
    --lumo-contrast-5pct: #1B4242;
    --lumo-primary-text-color: #9EC8B9;
    --lumo-primary-color-10pct: #1B4242;
    --lumo-primary-color-50pct: #5C8374;
}

[theme~="light"] {
    --lumo-base-color: #E1F0DA;
    --lumo-primary-color: #7ea094;
    --lumo-contrast-5pct: #bfd0b1;
    --lumo-primary-text-color: #374f46;
    --lumo-primary-color-10pct: #BFD8AF;
    --lumo-primary-color-50pct: #7a966a;
}

.headline {
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}

[theme~="dark"] .headline {
    background: -webkit-linear-gradient(120deg, #9affb0 30%, #41d1ff);
}

[theme~="light"] .headline {
    background: -webkit-linear-gradient(120deg, #7da6e7 30%, #035b00);
}